* {font-family: 'Courier New', Courier, monospace;}

.header {
    font-size: 50px;
    font-weight: bold;
    color: lavender;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    color: goldenrod;
}

h2 {
    font-weight: bold;
    font-size: 16px;
    color: wheat;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-items: center;
}

.child:hover {
    background-color: azure;
}

.button {
    font-weight: bold;
    flex-basis: auto;
    background-color: lightcoral;
}

.button:hover {
    color: green;
    transition: cubic-bezier();
}