
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

* {font-family: 'Roboto Condensed', sans-serif;}

.header {
    font-size: 50px;
    font-weight: bold;
    color: lavender;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    color: goldenrod;
    font-family: 'Roboto Slab', serif;
}

.centered {
    text-align: center;
}



.container {
    display: flex;
    flex-flow: wrap;
    justify-items: center;
}

child {
    padding : 5%;
}

.child:hover {
    background-color: lavender;
}

.button {
    font-weight: bold;
    flex-basis: auto;
    background-color: lightcoral;
}

.button:hover {
    color: darkolivegreen;
    transition: cubic-bezier();
}

.title {
    padding : 10px;
    text-align: center;
    background-color: darkolivegreen;
    flex: 0 0 100%;
    display: block;
}