* {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.header {
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    color: indianred;
}

h2 {
    font-weight: bold;
    font-size: 16px;
    color: wheat;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered {
    text-align: center;
}
.container {
    display: flex;
    justify-items: center;
}

.child:hover {
    background-color: azure;
}

.button {
    font-weight: bold;
    padding : 15px;
    flex-basis: auto;
    background-color: lightcoral;
    display : block;
}

.button:hover {
    color: indigo;
    transition: cubic-bezier();
}