* {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.main-title {
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    color: indianred;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    color: wheat;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: burlywood;

}


header ul{ 
    list-style-type: none;
    display: inline-flex;
    flex-flow: wrap;
  }
  
  
header li a {
    display: inline-flex;
    flex-flow: wrap;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
header li a:hover {
    color: blanchedalmond;
    transition: 250ms ease;
  }

.title {
    padding : 10px;
    background-color: antiquewhite;
    flex: 0 0 100%;
}

.centered {
    text-align: center;
}
.container {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
}

.child:hover {
    background-color: linen;
    transition: 350ms ease ;
}

.square {
    margin: 2px;
    box-shadow: lavender;
    width: 300px;
    height: 300px;
    padding: 5px;
}


 .button {
    font-weight: bold;
    margin: 2%;
    padding : 15px;
    background-color: lightcoral;
    width: fit-content;
    border-radius: 10%;
    
}

.button:hover {
    background-color: indigo;
    transition: 300ms ease;
    border-radius: 3%;
}